/* Body */

body {
    background-color: #1d1e1e;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-title {
    margin: 20px;
}

.navbar-brand {
    margin-bottom: 0;
}

/* Nav */
.navbar-nav .nav-item.active .nav-link {
    color: #FF7B00;
}

.navbar-nav .nav-item:first-child .nav-link {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    border-radius: 5px;
}

.navbar {
    background-color: #2e2e2f;
}

/* Titles */
.bold-orange-title {
    font-weight: bold;
    color: #FF7B00;
}

/* Text */
.description {
    max-width: 700px;
    overflow-wrap: break-word;
    font-size: 24px;
    padding-top: 10px;
}

/* Buttons */
.custom-btn:hover,
.custom-btn:focus {
    background-color: rgb(255, 123, 0);
}

.custom-btn:active {
    background-color: rgb(207, 114, 1);
}


footer {
    width: 100%;
    padding: 20px;
    background-color: #242425;
    color: #fff;
    margin-top: auto;
}



/* -------------------------workout.html styling ------------------------- */
.col form div {
    display: flex;
}

.col form div input {
    flex: 1 1 auto;
    max-width: 100px;
}

.col form div span,
.col form div label,
.col form div input {
    margin-right: 5px;
}

.col form div {
    display: flex;
    margin-bottom: 3px;
}

.btn {
    color: #FF7B00;
    opacity: 50%;
    font-size: 30px;

}

.btn:hover {
    color: #FF7B00 !important;
    opacity: 100% !important;
}

.container {
    max-width: 60%;
}

/* -------------------------workout.html styling ------------------------- */

/* -------------------------nutrition.html styling ------------------------- */
.parent-container {
    justify-content: center;
    background-color: #242425;
    margin: 20px auto;
    padding: 20px;
    width: fit-content;
}

.info-container {
    background-color: #2e2e2f;
    margin: 30px auto 0;
    min-width: 1000px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.container hr {
    border-width: 2px;
}

.info-container-title {
    padding: 10px 0 0 0;
    /* Adjust this value as needed */
}

#servings,
#calories {
    color: #aaa;
}

hr {
    border-color: #39393b;
}

.add-food-btn {
    padding: 0;
}

/* --------------------------nutrition.html styling ------------------------- */