/* Body */

body {
    background-color: #1d1e1e;
    color: white;
}

.navbar-brand {
    margin-bottom: 0;
}

/* Nav */
.navbar-nav .nav-item.active .nav-link {
    color: #FF7B00;
}

.navbar-nav .nav-item:first-child .nav-link {
    margin-right: 10px;
}

.navbar-nav .nav-item .nav-link {
    border-radius: 5px;
}

.navbar {
    background-color: #2e2f32;
}

/* Titles */
.bold-orange-title {
    font-weight: bold;
    color: #FF7B00;
}

/* Text */
.description {
    max-width: 700px;
    overflow-wrap: break-word;
    font-size: 24px;
    padding-top: 10px;
}

/* Buttons */
.custom-btn:hover,
.custom-btn:focus {
    background-color: rgb(255, 123, 0);
}

.custom-btn:active {
    background-color: rgb(207, 114, 1);
}




/* ------------------------------------workout.html styling ------------------------------------------ */
.col form div {
    display: flex;
}

.col form div input {
    flex: 1 1 auto;
    max-width: 100px;
}

.col form div span,
.col form div label,
.col form div input {
    margin-right: 5px;
}

.col form div {
    display: flex;
    margin-bottom: 3px;
}

.btn {
    color: #FF7B00;
    opacity: 50%;
    font-size: 30px;

}

.btn:hover{
    color: orange !important;
    opacity: 100% !important;
}

.container {
max-width: 60%;
}

/* ------------------------------------workout.html styling ------------------------------------------ */