{% extends "_layout.html" %}

{% block content %}
<div class="parent-container addworkout">
    <form action="/workout" method="post">

    <div class="container info-container workout-title-container">
        
        <h3 class="workout-name">
            <input class="addInput" type="text" name="workout-name"  placeholder="Workout Title">
        </h3>
    </div>

<div class="all-exercises-container">

    <div class="exercise-container">
        
        <div class="container info-container">
            
            
        <div class="exercise-title">
            <h2 class="info-container-title">
                <input class="addInput exercise" type="text" name="exerciseName"  placeholder="Exercise Name">
            </h2>

            
            
     </div>
      <hr>
        <div class="set-container">
            <span>Set 1:
                <input class="addInput set" type="number" name="set-1-weight"  placeholder="Weight">LBS
            </span>
            <span>
                <input class="addInput set" type="number" name="set-1-reps"  placeholder="Repetitions">Reps
            </span>
            <span>
                <input class="addInput set" type="number" name="set-1-rpe"  placeholder="Rate Of Percieved Exertion">RPE
            </span>
            <span>
                <textarea class="addInput set" type="textarea" name="set-1-text"  placeholder="Notes..." rows="1"></textarea>
            </span>

            <span><button class="w-minus hidden" type="button"><i class="bi bi-dash-circle-dotted"></i></button></span>
        </div>

        <div class="set-container">
            <span>Set 2:
                <input class="addInput set" type="number" name="set-2-weight"  placeholder="Weight">LBS
            </span>
            <span>
                <input class="addInput set" type="number" name="set-2-reps"  placeholder="Repetitions">Reps</span>
            <span>
                <input class="addInput set" type="number" name="set-2-rpe"  placeholder="Rate Of Percieved Exertion">RPE</span>
            <span>
                <textarea class="addInput set" type="textarea" name="set-1-text"  placeholder="Notes..." rows="1"></textarea>
            </span>

            <span><button class="w-minus hidden" type="button"><i class="bi bi-dash-circle-dotted"></i></button></span>

        </div>

        <div class="set-container">
            <span>Set 3:
                <input class="addInput set" type="number" name="set-3-weight"  placeholder="Weight">LBS
            </span>
            <span>
                <input class="addInput set" type="number" name="set-3-reps"  placeholder="Repetitions">Reps</span>
            <span>
                <input class="addInput set" type="number" name="set-3-rpe"  placeholder="Rate Of Percieved Exertion">RPE</span>
                <span>
                    <textarea class="addInput set" type="textarea" name="set-1-text"  placeholder="Notes..." rows="1"></textarea>
                </span>

                <span><button class="w-minus" type="button"><i class="bi bi-dash-circle-dotted"></i></button></span>
        </div>

        
        <div>
            <span class="preview-set">Set #:
                <input class="addInput set" type="number" name="set-4-weight"  placeholder="Weight" disabled>LBS
            </span>
            <span class="preview-set">
                <input class="addInput set" type="number" name="set-4-reps"  placeholder="Repetitions" disabled>Reps</span>
            <span class="preview-set">
                <input class="addInput set" type="number" name="set-4-rpe"  placeholder="Rate Of Percieved Exertion" disabled>RPE</span>
            <span class="preview-set">
                <textarea class="addInput set" type="textarea" name="set-1-text"  placeholder="Notes..." rows="1"></textarea>
            </span>

                <span><button class="w-plus" type="button"><i class="bi bi-plus-circle-dotted"></i></button></span>

        </div>


    </div>

</div>

</div>

    <div class="d-flex justify-content-center align-items-center">
        <button class="btn" type="button">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>



</div>

    <div class="workout-submit-button-container">
    <button type="submit" class="btn submitWorkout">Submit</button>
    </div>
</form>


<script src="{{ url_for('static', filename='javascript/script.js') }}"></script>
{% endblock %}