{% extends "_layout.html" %}
{% block content %}
<h1 class="page-title">AI Fitness Coach</h1>
<div class="parent-container" id="chatBox">
    <div class="container info-container">
        <!-- This is where yout text and the AI's messages will go -->
    </div>
    <form action="/chat" method="post" id="chatInput">
        <input type="text" name="q" class="search-bar" placeholder="Type your message here...">
        <button type="submit" class="btn send-btn">Send</button>
    </form>
</div>
{% endblock %}
