{% extends "_layout.html" %}
{% block content %}
<div class="parent-container">
    <div class=" info-container" id="create-food-container">
        <form action="/createFoodPost" method="POST" class="create-food-form">
            <div class="input-group input-container">
                <label for="name" class="food-input-label">Name</label>
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
            <div class="input-group input-container">
                <label for="calories" class="food-input-label">Calories</label>
                <input type="number" name="calories" placeholder="Kcal" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="total_fat" class="food-input-label">Total Fat</label>
                <input type="number" id="total_fat" name="total_fat" placeholder="g" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="saturated_fat" class="food-input-label">Saturated Fat</label>
                <input type="number" id="saturated_fat" name="saturated_fat" placeholder="g" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="trans_fat" class="food-input-label">Trans Fat</label>
                <input type="number" id="trans_fat" name="trans_fat" placeholder="g" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="cholesterol" class="food-input-label">Cholesterol</label>
                <input type="number" id="cholesterol" name="cholesterol" placeholder="mg" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="sodium" class="food-input-label">Sodium</label>
                <input type="number" id="sodium" name="sodium" placeholder="mg" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="carbohydrates" class="food-input-label">Total Carbohydrates</label>
                <input type="number" id="carbohydrates" name="carbohydrates" placeholder="g" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="sugars" class="food-input-label">Sugars</label>
                <input type="number" id="sugars" name="sugars" placeholder="g" step="0.01" min="0">
            </div>

            <div class="input-group input-container">
                <label for="protein" class="food-input-label">Protein</label>
                <input type="number" id="protein" name="protein" placeholder="g" step="0.01" min="0">
            </div>

            <div class="button-group">
                <button type="button" class="btn cancel-btn" onclick="window.history.back();">Cancel</button>

                <button type="submit" class="btn submit-btn">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}