{% extends "_layout.html" %}
{% block content %}
<div class="search-bar-container">
    <input type="text" name="q" class="search-bar" autocomplete="off" hx-get="/search"
        hx-trigger="keyup changed delay:20ms" hx-target="#results" placeholder="Search for your food">
</div>
<div id="results"></div>
<div class="parent-container">
    <div class="top-container">
        <div class="nutrition-label">
            <h1>{{ food.name }}</h1>
            <h4>Nutrition Values</h4>
            <div class="nutrition-facts">
                <div class="nutrition-item">
                    <span class="nutrition-label">Calories:</span>
                    <span class="nutrition-value">{{ food.calories }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Fat:</span>
                    <span class="nutrition-value">{{ food.total_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Saturated Fat:</span>
                    <span class="nutrition-value">{{ food.saturated_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Trans Fat:</span>
                    <span class="nutrition-value">{{ food.trans_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Cholesterol:</span>
                    <span class="nutrition-value">{{ food.cholesterol }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sodium:</span>
                    <span class="nutrition-value">{{ food.sodium }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Carbohydrates:</span>
                    <span class="nutrition-value">{{ food.carbohydrates }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sugars:</span>
                    <span class="nutrition-value">{{ food.sugars }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Protein:</span>
                    <span class="nutrition-value">{{ food.protein }}</span>
                </div>
            </div>
        </div>
        <div class="servings-box">

            <form action="/createFood" method="get" class="create-food-form">
                <button type="submit" class="btn create-food-btn">Create Food</button>
            </form>
            <form action="/nutrition" method="post" class="add-food-form">
                <div class="calendar-container">
                    <div class="calendar-sub-container">
                        <div class="date">
                            <input type="date" id="calendar" name="calendar">
                        </div>
                    </div>
                </div>
                <input type="hidden" name="food_id" value="{{ food.foodid }}">
                <button type="submit" class="btn add-food-btn">Add Food</button>
            </form>
        </div>
    </div>
    <div class="comments-section">
        <h2>Comments</h2>
        <div id="comments-container"></div>
            <!-- Comments will be dynamically added here -->
        </div>
        <form action="{{ url_for('add_comment', food_id=food.id) }}" method="post">
            <div class="form-group">
                <label for="comment">Add a comment:</label>
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="delete-comment">
           {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.comment }}</p>
                <p>{{ comment.date }}</p>
                <p>{{ comment.username }}</p>
            <form action="/deleteComment" method="post">
                <input type="hidden" name="comment_id" value="{{ comment.commentid }}">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form> 
            </div>
            {% endfor %}  
    </div>
</div>
<script>
    document.getElementById('calendar').value = "{{ selected_date }}";
</script>
{% endblock %}