{% extends "_layout.html" %}
{% block content %}
<div class="search-bar-container">
    <input type="text" name="q" class="search-bar" hx-get="/search" hx-trigger="keyup changed delay:20ms"
        hx-target="#results" placeholder="Search for your food">
</div>
<div id="results"></div>
<div class="parent-container">
    <div class="top-container">
        <div class="nutrition-label">
            <h1>{{ food.name }}</h1>
            <h4>Nutrition Values</h4>
            <div class="nutrition-facts">
                <div class="nutrition-item">
                    <span class="nutrition-label">Calories:</span>
                    <span class="nutrition-value">{{ food.calories }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Fat:</span>
                    <span class="nutrition-value">{{ food.total_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Saturated Fat:</span>
                    <span class="nutrition-value">{{ food.saturated_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Trans Fat:</span>
                    <span class="nutrition-value">{{ food.trans_fat }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Cholesterol:</span>
                    <span class="nutrition-value">{{ food.cholesterol }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sodium:</span>
                    <span class="nutrition-value">{{ food.sodium }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Carbohydrates:</span>
                    <span class="nutrition-value">{{ food.carbohydrates }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sugars:</span>
                    <span class="nutrition-value">{{ food.sugars }}</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Protein:</span>
                    <span class="nutrition-value">{{ food.protein }}</span>
                </div>
            </div>
        </div>
        <div class="servings-box">
            <form action="/createFood" method="get">
                <button type="submit" class="btn create-food-btn">Create Food</button>
            </form>
            <form action="/nutrition" method="post">
                <button type="submit" class="btn add-food-btn">Add Food</button>
            </form>
        </div>
        <div class="bottom-container">
            <!-- Space for graph -->
        </div>

    </div>
</div>
{% endblock %}