{% extends "_layout.html" %}
{% block content %}
<div class="search-bar-container">
    <input type="text" name="q" class="search-bar" autocomplete="off" hx-get="/search"
        hx-trigger="keyup changed delay:20ms" hx-target="#results" placeholder="Search for your food">
</div>
<div id="results"></div>
<div class="parent-container">
    <div class="top-container">
        <div class="nutrition-label">
            <h1>{{ food.name }}</h1>
            {% if food and creator %}
            <span class="nutrition-label">Created by:</span>
            <span class="nutrition-value">{{ creator.name }}</span>
            {% endif %}
            <h4 class="mt-3">Nutrition Values</h4>
            <div class="nutrition-facts">
                <div class="nutrition-item">
                    <span class="nutrition-label">Calories:</span>
                    <span class="nutrition-value">{{ food.calories }} Kcal</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Fat:</span>
                    <span class="nutrition-value">{{ food.total_fat }} g</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Saturated Fat:</span>
                    <span class="nutrition-value">{{ food.saturated_fat }} g</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Trans Fat:</span>
                    <span class="nutrition-value">{{ food.trans_fat }} g</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Cholesterol:</span>
                    <span class="nutrition-value">{{ food.cholesterol }} mg</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sodium:</span>
                    <span class="nutrition-value">{{ food.sodium }} mg</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Total Carbohydrates:</span>
                    <span class="nutrition-value">{{ food.carbohydrates }} g</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Sugars:</span>
                    <span class="nutrition-value">{{ food.sugars }} g</span>
                </div>
                <div class="nutrition-item">
                    <span class="nutrition-label">Protein:</span>
                    <span class="nutrition-value">{{ food.protein }} g</span>
                </div>
            </div>
        </div>
        <div class="servings-box">
            <a href="/userFoods" class="btn create-food-btn">Your Foods</a>
            <form action="/createFood" method="get" class="create-food-form mt-5">
                <button type="submit" class="btn create-food-btn mb-5">Create Food</button>
            </form>
            <form action="/nutrition" method="post" class="add-food-form">
                <div class="calendar-container mb-4">
                    <div class="calendar-sub-container">
                        <div class="date">
                            <input type="date" id="date" name="date" value="{{ date }}">
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <input type="hidden" name="food_id" value="{{ food.foodid }}">
    <button type="submit" class="btn btn-block signin-btn comment-submit">Add Food</button>
    </form>
    <div class="comments-section mt-5">
        <h4>Comments</h4>
        <div id="comments-container">
            {% for comment in comments %}
            <div class="comment">
                
                <p class="comment-username"> <span>User: </span> {{ comment.name }}</p>
                <form class="comments-form" action="/foodInfo/{{ food.foodid }}/{{ comment.commentid }}/update"
                    method="post">
                    <textarea class="form-control" id="update" name="update">{{ comment.comment_text }}</textarea>
                    {% if comment.userID == userID %}
                    <button class="edit-button" type="submit" class="btn btn-primary">Edit</button>
                </form>
                <form class="comments-form" action="/foodInfo/{{ food.foodid }}/{{ comment.commentid }}" method="post">
                    <button class="delete-button" type="submit" class="btn btn-primary">Delete</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>
    <form action="/foodInfo/{{ food.foodid }}" method="post">
        <div class="form-group">
            <label for="comment">Add a comment:</label>
            <textarea class="form-control" id="comment" name="comment" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-block signin-btn comment-submit">Submit</button>
    </form>
</div>
<script>
    document.getElementById('calendar').value = "{{ selected_date }}";
</script>
{% endblock %}