{% extends "_layout.html" %}

{% block content %}
    <div>
        <div class="p-4">
            <h1 class="display-2 fw-bold bold-orange-title">Welcome To <span class="display-2 fw-bold bold-orange-title-2">TR<span style="color:#FF7B00;">AI</span>NFIT</span></h1>
            <p class="lead fs-4 description">TrainFit is an innovative AI-supported health application designed 
            to revolutionize the way you manage your well-being. With a seamless integration 
            of cutting-edge technology and user-friendly features, Trainfit aims to empower 
            individuals in their journey towards better health and fitness.</p>
            <a href="/signin" class="btn custom-btn">Sign Up</a>
        </div>
    </div>
{% endblock %}
