{% extends "_layout.html" %}
{% block content %}
<div class="calendar-container">
    <div class="calendar-sub-container">
        <form id="dateForm" action="/nutrition" method="get">
            <div class="date">
                <input type="date" id="date" name="date" value="{{ date }}" onchange="submitForm()">
            </div>
        </form>
    </div>
</div>
<div class="parent-container">

    <div class="container info-container">
        <h2 class="info-container-title">Breakfast</h2>
        <hr>
        {% for item in meal_data.breakfast %}
        <div class="food-item">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 id="food-name">{{ item[7] }}</h4> <!-- This is assuming item[2] is the food name -->
                    <p id="calories">Calories: {{ item[8] }}</p> <!-- This is assuming item[3] is the calories -->
                </div>
                <div class="col-6 text-right">
                    <form action="/deleteMeal" method="post">
                        <input type="hidden" name="meal_id" value="{{ item.meal_id }}">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                    <!-- <form action="/editMeal" method="post">
                        <button type="submit" class="btn">Edit</button>
                    </form>  -->
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="/foodInfo?mealName=breakfast" class="btn add-food-btn">Add Breakfast Food</a>
    </div>

    <div class="container info-container">
        <h2 class="info-container-title">Lunch</h2>
        <hr>
        {% for item in meal_data.lunch %}
        <div class="food-item">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 id="food-name">{{ item[7] }}</h4>
                    <p id="calories">Calories: {{ item[8] }}</p>
                </div>
                <div class="col-6 text-right">
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="/foodInfo?mealName=lunch" class="btn add-food-btn">Add lunch Food</a>
    </div>

    <div class="container info-container">
        <h2 class="info-container-title">Dinner</h2>
        <hr>
        {% for item in meal_data.dinner %}
        <div class="food-item">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 id="food-name">{{ item[7] }}</h4>
                    <p id="calories">Calories: {{ item[8] }}</p>
                </div>
                <div class="col-6 text-right">
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="/foodInfo?mealName=dinner" class="btn add-food-btn">Add Dinner Food</a>
    </div>

    <div class="container info-container">
        <h2 class="info-container-title">Snack</h2>
        <hr>
        {% for item in meal_data.snack %}
        <div class="food-item">
            <div class="row">
                <div class="col-6 text-left">
                    <h4 id="food-name">{{ item[7] }}</h4>
                    <p id="calories">Calories: {{ item[8] }}</p>
                </div>
                <div class="col-6 text-right">
                </div>
            </div>
        </div>
        {% endfor %}
        <a href="/foodInfo?mealName=snack" class="btn add-food-btn">Add Snack Food</a>
    </div>
</div>
{% endblock %}