{% extends "_layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center">User Profile</h3>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                    </div>
                    <h4 class="card-title text-center">Elon Musk</h4>
                    <p class="card-text text-center">Age: 52</p>
                    <p class="card-text text-center">Height: 6'2"</p>
                    <p class="card-text text-center">Weight: 187 lb</p>
                    <p class="card-text text-center">Goal: Lose weight</p>
                    <hr>
                    <h5 class="card-title">Fitness Stats</h5>
                    <p class="card-text">Workouts Completed: 5</p>
                    <p class="card-text">Total Distance Run: 5 miles</p>
                    <p class="card-text">Total Calories Burned: 2000</p>
                    <a href="#" class="btn btn-primary btn-block">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
