{% extends "_layout.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card signin-card">
                <div class="card-header signin-card-header">
                    <h3 class="text-center">Welcome back {{ user.name }}</h3>
                </div>
                <div class="card-body">
                    <div class="text-center mb-4">
                    </div>
                    <p class="card-text text-center">Age: {{ user.age }}</p>
                    <p class="card-text text-center">Height: {{ user.height }}</p>
                    <p class="card-text text-center">Weight: {{ user.weight }}</p>
                    <p class="card-text text-center">Goal: {{ user.goal }}</p>
                    <div class="card-divider"></div> 
                    <h5 class="card-title">Fitness Stats</h5>
                    <p class="card-text">Workouts Completed: 5</p>
                    <p class="card-text">Total Distance Run: 5 miles</p>
                    <p class="card-text">Total Calories Burned: 2000</p>
                    <a href="{{ url_for('update_profile') }}" class="btn btn-block signin-btn">Edit Profile</a>
                    <a href="{{ url_for('logout') }}" class="btn btn-danger btn-block logout-btn">Log Out</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
