{% extends "_layout.html" %}

{% block content %}


<div class="calendar-container">
    
<div class="calendar-sub-container">
        <div class="left-arrow">
            <i class="bi bi-chevron-left"></i>
        </div>

        <div class="date">
            <input type="date" id="calendar" name="calendar">
        </div>

        <div class="right-arrow">
            <i class="bi bi-chevron-right"></i>
        </div>

    </div>
</div>



<div class="parent-container addworkout-btn">

<form method="GET" action="/addWorkout">
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn" type="submit">
            <i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>
</form>

</div>

<div class="parent-container workout">

    <div class="container info-container workout-title-container">
        <h3 class="workout-name">Workout Name</h3>
    </div>
        
    <div class="container info-container">
        <h2 class="info-container-title">Exercise 1</h2>
        <hr>
        <!-- items will be dynamically added here -->
        <div>
            <span>Set 1:</span>
            <span>225 Lbs /</span>
            <span>9 Reps /</span>
            <span>RPE 10 </span>
            <span></span>
        </div>
        <div>Set 2</div>
        <div>Set 3</div>
    </div>

    <div class="container info-container">
    <h2 class="info-container-title">Exercise 2</h2>
    <hr>
    <!-- items will be dynamically added here -->
    <div>
        <span>Set 1:</span>
        <span>225 Lbs /</span>
        <span>9 Reps /</span>
        <span>RPE 10 </span>
        <span></span>
    </div>
    <div>Set 2</div>
    <div>Set 3</div>
</div>
</div>









{% endblock %}