{% extends "_layout.html" %}

{% block content %}


<div class="calendar-container">

    <div class="calendar-sub-container">

        <form id="dateForm" action="/workout" method="get">
            <div class="date">
                <input type="date" id="date" name="date" value="{{ date }}" onchange="submitForm()">
            </div>
        </form>

    </div>
</div>

<form method="GET" action="/addWorkout">
    <div class="d-flex justify-content-center align-items-center">
        <button class="btn create-workout-btn" type="submit">
            Create New Workout
        </button>
    </div>
</form>

{% if workouts %}
{% for workout in workouts %}
<div class="parent-container workout">
    <div class="container info-container workout-title-container">
        <h3 class="workout-name">{{ workout.name }}</h3>
        <form action="/delete-workout" method="POST">
            <input type="hidden" name="workout_id" value="{{ workout.workoutid }}">
            <button type="submit" class="delete-workout"><i class="bi bi-x-square-fill"></i></button>
        </form>
    </div>
    {% for exercise in workout.exercises %}
    <div class="container info-container workout">
        <h2 class="info-container-title">{{ exercise.exercisename }}</h2>
        <hr>
        <!-- items will be dynamically added here -->
        {% for set in exercise.sets %}
        <div>
            <span class="set-span">Set {{ loop.index }}:</span>
            <span class="set-span">{{ set.weight }} Lbs </span>
            <span class="set-span">{{ set.reps }} Reps </span>
            <span class="set-span">RPE {{ set.rpe }}</span>
            <span class="set-span">{{ set.note }}</span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endfor %}
{% endif %}







{% endblock %}